body {
  margin: 0;
font-family: 'Anton', sans-serif;

  background-color: #fefefe;
}

.card {
  border: solid 2px black;
  border-radius: 5px;
  aspect-ratio: 16/9;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s
}

.card:hover {
  transform: scale(1.02);
  
}

video {
  width: 100%;
  aspect-ratio: 16/9;
 
  cursor: pointer;
}

.container {
  margin-left:  5%;
  margin-right: 5%;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(2, auto); /* Two rows */
  gap: 10px; /* Adjust the gap between cards as needed */
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}


.container2 {
  margin-left:  5%;
  margin-right: 5%;
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(2, auto); /* Two rows */
  gap: 10px; /* Adjust the gap between cards as needed */
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}





h1, h2 {


  color: black; /* Text color */
  padding-left: 10px;
}


h1 {
  font-size: 1.5rem;



}

h2 {
  font-size: 1rem;

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #dedede;
  color: black;
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: black;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}



#countdown {
  color: black;
}




.hero-section {
  position: relative;
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: transform 1s ease-in-out;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.title-card {
  color: black;
}