body {
  margin: 0;
font-family: 'Anton', sans-serif;

  background-color: rgb(33, 33, 33)
}

.card {
  border: solid #515151;
  border-radius: 10px;
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out
}

.card:hover {
  transform: scale(1.01);
  border: solid rgba(158, 36, 214, 0.44);
  
  box-shadow: 0px 0px 24px 1px rgba(158, 36, 214, 0.22);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.container {
  margin-left:  5%;
  margin-right: 5%;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(2, auto); /* Two rows */
  gap: 10px; /* Adjust the gap between cards as needed */

}




.card:first-child {
  grid-column: span 2;
  grid-row: span 2; /* Make the first card span two columns */
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr); /* Change to two columns on smaller screens */
  }

  .card:first-child {
    grid-column: span 1; /* Make the first card span two columns on smaller screens */
  }
}


h1, h2 {


  color: white; /* Text color */
}

.title-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Text color */
  text-align: left;
}

h1 {
  font-size: 2rem;



}

h2 {
  font-size: 1.5rem;

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}



#countdown {
  color: rgb(255, 255, 255)
}




.hero-section {
  position: relative;
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: transform 1s ease-in-out;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}